[Unit]
Description=thinkfan - max-perf aggressive fan curve
Documentation=man:thinkfan(1) man:thinkfan.conf(5)
ConditionPathExists=/etc/thinkfan-max.yaml
Conflicts=thinkfan-bed.service

[Service]
Type=simple
ExecStart=/usr/bin/thinkfan -n -q -c /etc/thinkfan-max.yaml
Restart=on-failure
RestartSec=2
